<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>The Kiosk App iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>87F4EAE11D1D96B700722197</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87F4EAF81D1D96B800722197</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87F4EB031D1D96B800722197</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
